
.header-container {
  background-image: url('/img/open_book_cropped.jpeg');
  background-size: cover ;
  background-repeat: no-repeat;
  height: 400px;

}
.main-title {
  font-size: 72pt;
  color: rgb(223, 220, 220);
  margin-top: 0;
}
.nav-container {
  background-color: rgb(86,91,94) ;
  background-size: cover ;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin: 0 0 20px 0;
}
nav {
  width: 50%;
  align-items: center;
  color:  rgb(223, 220, 220);
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-evenly;
}
.search-container {
  display: inline;
  flex-direction: row;
  justify-content: right;
  width: 50%;
  margin-left: 30%;
  align-items: center;


}
.search-form {
 
  flex-direction: row;
  justify-content: right;
  
  
}
